<div id="<%= dom_id restaurant %>">
  <p>
    <strong>Title:</strong>
    <%= restaurant.title %>
  </p>

  <p>
    <strong>Bytitle:</strong>
    <%= restaurant.bytitle %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= restaurant.address %>
  </p>

</div>
