<!--<div class="container">-->
<!--  <div class="header">-->
<!--    <div class="col-md-9 header-left">-->
<!--      <div class="top-nav">-->
<!--        <ul class="memenu skyblue">-->
<!--          <li class="active"><a href="/">Home</a> </li>-->

<!--        </ul>-->
<!--      </div>-->
<!--      <div class="clearfix"></div>-->
<!--    </div>-->
<!--    <div class="col-md-3 header-right">-->
<!--      <div class="search-bar">-->
<!--        <form action="/search" method="get" autocomplete="off">-->
<!--          <input type="text" class="typehead" id="typehead" name="query" placeholder="Search...">-->
<!--          <input type="submit" value="">-->
<!--        </form>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="clearfix"></div>-->
<!--  </div>-->
<!--</div>-->

<nav class="py-2 bg-light border-bottom">
  <div class="container d-flex flex-wrap">
    <ul class="nav me-auto">
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2 active" aria-current="page">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
    </ul>
    <ul class="nav">
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Login</a></li>
      <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Sign up</a></li>
    </ul>
  </div>
</nav>

<header class="py-3 mb-4 border-bottom">
  <div class="container d-flex flex-wrap justify-content-center">
    <a href="/products" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Delivery</span>
    </a>
    <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
      <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
    </form>
  </div>
</header>