<p>Добро пожаловать, <%= @email %>!</p>

<p>Вы можете подтвердить адрес электронной почты своей учетной записи по ссылке ниже:</p>

<p><%= link_to 'Подтвердить мой аккаунт', confirmation_url(@resource, confirmation_token: @token) %></p>
