<div class="mx-auto" style="width: 300px;">
  <h1>Editing product</h1>

  <%= render "form", product: @product %>

  <br>

  <div>
    <%= link_to "Посмотреть этот продукт", @product %> |
    <%= link_to "Вернуться ко всем продуктам", products_path %>
  </div>
</div>